In [13]:
import requests
import pandas as pd
from time import sleep
import numpy as np


from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options




import warnings
warnings.filterwarnings('ignore')

In [14]:
opciones= Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
#para ocultarme como robot
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--start-maximized') #empezar maximizado
opciones.add_argument('user.data-dir=selenium') #guarda las cookies
opciones.add_argument('--incognito')#incognito window

In [15]:
# iniciamos el driver
driver = webdriver.Chrome(ChromeDriverManager().install())
## accedemos a la pagina web

driver.get("https://africanelephantdatabase.org/report/2013/Africa")
driver.implicitly_wait(10)
# esperamos
resultado=driver.find_element("xpath", '//*[@id="tab-section-data-quality-page-0"]').text

type(resultado)

[WDM] - Downloading: 100%|██████████| 6.79M/6.79M [00:02<00:00, 2.86MB/s]

str

In [16]:
# iniciamos el driver
driver = webdriver.Chrome(ChromeDriverManager().install())
## accedemos a la pagina web

driver.get("https://africanelephantdatabase.org/report/2007/Africa")
driver.implicitly_wait(10)
# esperamos
resultado=driver.find_element("xpath", '/html/body/div[3]/div/div/table[4]').text

type(resultado)

str

In [17]:
resultado

'Region Definite Probable Possible Speculative Range Area (km²) % of Continental Range % of Range Assessed IQI1 PFS2\nCentral Africa 10,383 48,936 43,098 34,129 975,079 29 52 .22 1\nEastern Africa 137,485 29,043 35,124 3,543 880,063 26 45 .36 2\nSouthern Africa 297,718 23,186 24,734 9,753 1,305,140 39 53 .48 1\nWest Africa 7,487 735 1,129 2,939 175,545 5 66 .44 3\nTotals 472,269 82,704 84,334 50,364 3,335,827 100 51 .41'

In [18]:
years=["2016","2013","2007","2002","1998","1995"]

In [19]:
url_list=[]

for year in years:
    url_list.append(f"https://africanelephantdatabase.org/report/{year}/Africa")

url_list

['https://africanelephantdatabase.org/report/2016/Africa',
 'https://africanelephantdatabase.org/report/2013/Africa',
 'https://africanelephantdatabase.org/report/2007/Africa',
 'https://africanelephantdatabase.org/report/2002/Africa',
 'https://africanelephantdatabase.org/report/1998/Africa',
 'https://africanelephantdatabase.org/report/1995/Africa']

In [20]:
# sacamos la tabla para cada una de las url de arriba

driver = webdriver.Chrome(ChromeDriverManager().install())

result_list=[]

for i in url_list:
    try:
        driver.get(i)
        result=driver.find_element("xpath", '//*[@id="tab-section-data-quality-page-0"]').text
        result_list.append(result)
    except:
        try:
            driver.get(i)
            result=driver.find_element("xpath", '/html/body/div[3]/div/div/table[4]').text
            result_list.append(result)
        except:
            driver.get(i)
            result=driver.find_element("xpath", '/html/body/div[3]/div/div/table[2]').text
            result_list.append(result)

driver.quit()

In [21]:
result_list

['Elephant Estimates\nEstimates from Surveys Guesses Range    \nRegion Estimate/Number Seen ± 95% CL From To Area (km²) % Regional % Assessed IQI1 PFS2\nCentral Africa 19,465 3,209 85,183 119,966 783,085 25 70 0.1 1\nEastern Africa 86,373 10,549 11,973 12,060 880,648 28 62 0.49 1\nSouthern Africa 293,447 16,683 15,157 16,672 1,325,998 42 55 0.5 1\nWest Africa 11,489 2,584 2,877 3,367 142,500 5 72 0.48 2\nTotals 410,774 20,164 115,111 151,986 3,132,238 100 62 0.43',
 'Elephant Estimates\nEstimates from Surveys Guesses Range    \nRegion Estimate/Number Seen ± 95% CL From To Area (km²) % Regional % Assessed IQI1 PFS2\nCentral Africa 14,699 2,562 95,110 128,285 783,085 25 62 0.06 1\nEastern Africa 99,751 11,433 12,090 13,048 880,648 28 56 0.45 1\nSouthern Africa 297,603 22,532 26,205 32,359 1,325,998 42 58 0.49 1\nWest Africa 9,959 2,373 4,599 5,178 142,500 5 67 0.38 1\nTotals 422,012 25,507 137,728 178,594 3,132,238 100 59 0.4',
 'Region Definite Probable Possible Speculative Range Area (km²) % of Continental Range % of Range Assessed IQI1 PFS2\nCentral Africa 10,383 48,936 43,098 34,129 975,079 29 52 .22 1\nEastern Africa 137,485 29,043 35,124 3,543 880,063 26 45 .36 2\nSouthern Africa 297,718 23,186 24,734 9,753 1,305,140 39 53 .48 1\nWest Africa 7,487 735 1,129 2,939 175,545 5 66 .44 3\nTotals 472,269 82,704 84,334 50,364 3,335,827 100 51 .41',
 'Region Definite Probable Possible Speculative Range Area (km²) % of Continental Range % of Range Assessed IQI1 PFS2\nCentral Africa 16,450 32,263 64,477 82,563 2,060,763 42 58 .15 1\nEastern Africa 117,716 17,702 22,511 5,738 969,113 20 38 .31 2\nSouthern Africa 246,592 23,722 26,098 7,508 1,680,130 34 45 .40 1\nWest Africa 5,458 1,188 3,039 3,498 219,868 4 65 .33 3\nTotals 402,067 59,024 99,813 99,307 4,929,874 100 50 .35',
 'Region Definite Probable Possible Speculative Range Area (km²) % of Continental Range % of Range Assessed IQI1 PFS2\nCentral Africa 7,322 27,104 27,613 63,469 2,772,397 48 16 .04 1\nEastern Africa 83,770 22,698 17,216 1,495 1,063,569 18 30 .26 2\nSouthern Africa 196,845 17,057 22,623 190 1,724,037 30 26 .23 1\nWest Africa 2,489 644 6,228 3,442 212,463 4 59 .14 3\nTotals 301,733 56,196 60,780 68,596 5,772,466 100 23 .17',
 'Region Definite Probable Possible Speculative Range Area (km²) % of Continental Range % of Range Assessed IQI1 PFS2\nCentral Africa 7,320 81,657 128,648 7,594 2,769,550 48 57 .22 1\nEastern Africa 90,482 16,707 20,000 1,084 1,075,362 19 31 .26 2\nSouthern Africa 170,837 16,382 27,113 15,350 1,725,798 30 50 .41 2\nWest Africa 2,760 1,376 5,035 5,554 227,088 4 49 .14 3\nTotals 286,233 101,288 164,075 29,582 5,797,798 100 50 .33']

In [22]:
df = pd.DataFrame(result_list)
df

                                                   0
0  Elephant Estimates\nEstimates from Surveys Gue...
1  Elephant Estimates\nEstimates from Surveys Gue...
2  Region Definite Probable Possible Speculative ...
3  Region Definite Probable Possible Speculative ...
4  Region Definite Probable Possible Speculative ...
5  Region Definite Probable Possible Speculative ...

In [23]:

df.iloc[3][0]

'Region Definite Probable Possible Speculative Range Area (km²) % of Continental Range % of Range Assessed IQI1 PFS2\nCentral Africa 16,450 32,263 64,477 82,563 2,060,763 42 58 .15 1\nEastern Africa 117,716 17,702 22,511 5,738 969,113 20 38 .31 2\nSouthern Africa 246,592 23,722 26,098 7,508 1,680,130 34 45 .40 1\nWest Africa 5,458 1,188 3,039 3,498 219,868 4 65 .33 3\nTotals 402,067 59,024 99,813 99,307 4,929,874 100 50 .35'

In [24]:
x = df.iloc[0][0].split("\n")

In [25]:
x[:8]

['Elephant Estimates',
 'Estimates from Surveys Guesses Range    ',
 'Region Estimate/Number Seen ± 95% CL From To Area (km²) % Regional % Assessed IQI1 PFS2',
 'Central Africa 19,465 3,209 85,183 119,966 783,085 25 70 0.1 1',
 'Eastern Africa 86,373 10,549 11,973 12,060 880,648 28 62 0.49 1',
 'Southern Africa 293,447 16,683 15,157 16,672 1,325,998 42 55 0.5 1',
 'West Africa 11,489 2,584 2,877 3,367 142,500 5 72 0.48 2',
 'Totals 410,774 20,164 115,111 151,986 3,132,238 100 62 0.43']

In [31]:
import camelot

In [30]:
#!pip3 install camelot-py[cv] tabula-py

Requirement already satisfied: camelot-py[cv] in c:\users\smico\anaconda3\envs\iron\lib\site-packages (0.10.1)
Collecting tabula-py
  Downloading tabula_py-2.6.0-py3-none-any.whl (12.0 MB)
     ---------------------------------------- 12.0/12.0 MB 2.8 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.13.3 in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from camelot-py[cv]) (1.23.3)
Requirement already satisfied: pandas>=0.23.4 in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from camelot-py[cv]) (1.5.1)
Requirement already satisfied: chardet>=3.0.4 in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from camelot-py[cv]) (5.1.0)
Requirement already satisfied: PyPDF2>=1.26.0 in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from camelot-py[cv]) (3.0.1)
Requirement already satisfied: tabulate>=0.8.9 in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from camelot-py[cv]) (0.9.0)
Requirement already satisfied: click>=6.7 in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from camelot-py[cv]) (8.1.3)
Requirement already satisfied: openpyxl>=2.5.8 in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from camelot-py[cv]) (3.1.0)
Requirement already satisfied: pdfminer.six>=20200726 in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from camelot-py[cv]) (20221105)
Collecting opencv-python>=3.4.2.17
  Downloading opencv_python-4.7.0.68-cp37-abi3-win_amd64.whl (38.2 MB)
     ---------------------------------------- 38.2/38.2 MB 3.0 MB/s eta 0:00:00
Collecting ghostscript>=0.7
  Downloading ghostscript-0.7-py2.py3-none-any.whl (25 kB)
Collecting pdftopng>=0.2.3
  Downloading pdftopng-0.2.3-cp39-cp39-win_amd64.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 3.0 MB/s eta 0:00:00
Collecting distro
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Requirement already satisfied: colorama in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from click>=6.7->camelot-py[cv]) (0.4.6)
Requirement already satisfied: setuptools>=38.6.0 in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from ghostscript>=0.7->camelot-py[cv]) (65.4.0)
Requirement already satisfied: et-xmlfile in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from pandas>=0.23.4->camelot-py[cv]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from pandas>=0.23.4->camelot-py[cv]) (2022.6)
Requirement already satisfied: cryptography>=36.0.0 in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from pdfminer.six>=20200726->camelot-py[cv]) (38.0.4)
Requirement already satisfied: charset-normalizer>=2.0.0 in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from pdfminer.six>=20200726->camelot-py[cv]) (2.1.1)
Requirement already satisfied: typing_extensions>=3.10.0.0 in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from PyPDF2>=1.26.0->camelot-py[cv]) (4.4.0)
Requirement already satisfied: cffi>=1.12 in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py[cv]) (1.15.1)
Requirement already satisfied: six>=1.5 in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23.4->camelot-py[cv]) (1.16.0)
Requirement already satisfied: pycparser in c:\users\smico\anaconda3\envs\iron\lib\site-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py[cv]) (2.21)
Installing collected packages: opencv-python, ghostscript, distro, pdftopng, tabula-py
Successfully installed distro-1.8.0 ghostscript-0.7 opencv-python-4.7.0.68 pdftopng-0.2.3 tabula-py-2.6.0

In [39]:
import pandas as pd

In [65]:
total_ivory_weight=pd.read_clipboard()

In [66]:
total_ivory_weight=total_ivory_weight.T

In [67]:
total_ivory_weight

               0       1
Seizures  Number  Weight
2007         590  10,200
2008         533   7,000
2009       1,355  34,400
2010       1,346  26,700
2011       1,895  51,800
2012       1,378  42,300
2013       1,634  67,500
2014       1,352  41,000
2015       1,455  44,400
2016       1,241  39,100
2017       1,008  38,600

In [69]:
total_ivory_weight=total_ivory_weight.reset_index()
total_ivory_weight

       index       0       1
0   Seizures  Number  Weight
1       2007     590  10,200
2       2008     533   7,000
3       2009   1,355  34,400
4       2010   1,346  26,700
5       2011   1,895  51,800
6       2012   1,378  42,300
7       2013   1,634  67,500
8       2014   1,352  41,000
9       2015   1,455  44,400
10      2016   1,241  39,100
11      2017   1,008  38,600

In [74]:
total_ivory_weight.rename( columns = { "index": "Years",  0: "Number", 1: "Weight"}, inplace=True)

In [75]:
total_ivory_weight

       Years  Number  Weight
0   Seizures  Number  Weight
1       2007     590  10,200
2       2008     533   7,000
3       2009   1,355  34,400
4       2010   1,346  26,700
5       2011   1,895  51,800
6       2012   1,378  42,300
7       2013   1,634  67,500
8       2014   1,352  41,000
9       2015   1,455  44,400
10      2016   1,241  39,100
11      2017   1,008  38,600

In [76]:
total_ivory_weight = total_ivory_weight.drop(labels=0, axis=0)

In [77]:
total_ivory_weight.to_csv("datos/total_ivory_weight.csv")

In [79]:
ivory_by_country1=pd.read_clipboard()

In [80]:
ivory_by_country1

,Country,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,Total
0,AE,9,4,3,1,8,9,7,3,2,9,10,65
1,AF,0,0,0,0,0,0,0,0,0,0,0,0
2,AG,0,0,0,0,0,0,0,0,0,0,0,0
3,AL,0,0,0,0,0,0,0,0,0,0,0,0
4,AM,0,0,0,0,0,0,0,0,0,0,0,0
5,AO,0,0,0,0,2,13,29,5,1,11,2,63
6,AR,0,0,0,0,0,0,0,0,0,0,0,0
7,AT,3,0,1,1,0,0,1,6,3,1,1,17
8,AU,81,81,60,32,45,29,28,23,4,14,10,407
9,AZ,0,0,0,0,0,0,0,0,0,0,0,0
10,BA,0,0,0,0,0,0,0,0,0,0,0,0
11,BB,0,0,0,0,0,0,0,0,0,0,0,0
12,BD,0,0,0,0,0,0,1,0,0,0,0,1
13,BE,8,7,5,29,51,61,27,4,1,2,16,211
14,BF,0,0,0,1,0,0,0,0,0,1,0,2

In [83]:
ivory_by_country2=pd.read_clipboard()

In [84]:
ivory_by_country2

,Country,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,Total
0,BG,0,0,0,0,0,0,0,0,0,0,0,0
1,BH,0,0,0,0,0,0,0,0,0,0,0,0
2,BI,0,1,0,0,0,0,1,0,0,0,0,2
3,BJ,0,0,0,0,0,0,0,2,1,7,6,16
4,BN,0,0,0,0,0,0,0,0,0,0,0,0
5,BO,0,0,0,0,0,0,0,0,0,0,0,0
6,BR,0,0,0,0,0,0,0,0,0,0,0,0
7,BS,0,0,0,0,0,0,0,0,0,0,0,0
8,BT,0,0,0,0,0,0,0,0,0,0,0,0
9,BW,8,14,18,13,15,2,25,12,16,10,19,152
10,BY,0,0,0,0,0,0,0,0,0,0,0,0
11,BZ,0,0,0,0,0,0,0,0,0,0,0,0
12,CA,2,6,0,0,1,5,4,3,0,5,3,29
13,CD,0,0,0,2,0,1,0,1,11,6,2,23
14,CF,0,0,2,2,0,0,0,0,0,1,0,5
15,CG,0,3,0,0,8,0,3,2,3,5,10,34
16,CH,8,6,2,10,6,4,11,3,16,13,4,83
17,CI,0,0,0,0,0,0,4,10,4,2,8,28
18,CL,0,0,0,0,0,0,0,0,0,0,0,0
19,CM,4,6,11,6,13,13,33,22,27,11,9,155
20,CN,90,52,733,707,834,388,433,272,233,142,100,"3,984"
21,CO,0,0,0,0,0,0,0,0,0,0,0,0
22,CR,0,0,0,0,0,0,0,0,0,0,0,0
23,CU,0,0,0,0,0,0,0,0,0,0,0,0
24,CV,0,0,0,0,0,0,0,0,0,0,0,0
25,CY,0,0,0,0,0,0,0,1,0,0,0,1
26,CZ,0,1,4,0,0,0,0,3,0,6,1,15
27,DE,33,26,60,35,31,60,71,41,37,26,17,437
28,DJ,0,0,0,0,0,0,0,0,0,0,0,0
29,DK,1,1,0,3,2,1,1,0,3,1,1,14
30,DM,0,0,0,0,0,0,0,0,0,0,0,0
31,DO,0,0,0,0,0,0,0,0,0,0,0,0
32,DZ,0,0,0,0,0,0,0,0,0,0,0,0
33,EC,0,0,0,0,0,0,0,0,0,0,0,0
34,EE,1,0,0,0,0,0,0,0,1,0,0,2
35,EG,0,0,0,0,1,3,8,12,3,5,4,36
36,ER,0,0,0,0,0,0,0,0,0,0,0,0
37,ES,0,0,1,24,0,0,3,1,0,3,0,32
38,ET,0,4,5,1,163,111,154,103,100,42,43,726
39,FI,0,0,0,0,0,0,0,0,0,0,0,0
40,FJ,0,0,0,0,0,0,0,0,0,0,0,0
41,FR,19,10,7,25,81,23,46,94,89,62,48,504
42,GA,0,1,1,16,3,3,10,12,15,13,29,103
43,GB,10,7,16,8,31,45,42,31,152,130,0,472
44,GD,0,0,0,0,0,0,0,0,0,0,0,0
45,GE,0,0,0,0,0,0,0,0,0,0,0,0
46,GH,0,0,0,0,0,0,0,0,0,0,0,0

In [85]:
ivory_by_country3=pd.read_clipboard()

In [86]:
ivory_by_country3

,Country,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,Total
0,GM,0,0,0,0,0,0,0,0,0,0,0,0
1,GN,0,0,0,0,0,3,3,0,0,1,0,7
2,GQ,0,0,0,0,0,0,0,0,0,0,0,0
3,GR,0,1,0,0,0,0,0,0,0,0,0,1
4,GT,0,0,0,0,0,0,0,0,0,0,0,0
5,GW,0,0,0,0,0,0,0,0,0,0,0,0
6,GY,0,0,0,0,0,0,0,0,0,0,0,0
7,HK,1,4,6,40,40,56,114,117,130,41,66,615
8,HN,0,0,0,0,0,0,0,0,0,0,0,0
9,HR,0,0,0,0,0,0,0,0,1,0,0,1
10,HU,0,0,1,0,0,0,1,3,1,1,5,12
11,ID,4,2,1,0,0,0,0,3,2,4,3,19
12,IE,0,0,0,0,2,0,0,0,0,0,0,2
13,IL,0,0,0,0,0,0,0,0,0,0,0,0
14,IN,10,5,12,9,5,2,3,13,11,12,29,111
15,IQ,0,0,0,0,0,0,0,0,0,0,0,0
16,IR,0,0,0,0,0,0,0,0,0,0,0,0
17,IS,0,0,0,0,0,0,0,0,0,0,0,0
18,IT,5,3,0,0,0,1,3,1,18,0,4,35
19,JM,0,0,0,0,0,0,0,0,0,0,0,0
20,JO,0,0,0,0,0,0,0,0,0,0,0,0
21,JP,5,6,3,5,2,0,0,7,10,4,3,45
22,KE,27,30,87,59,67,61,56,133,71,111,95,797
23,KG,0,0,0,0,0,0,0,0,0,0,0,0
24,KH,0,0,0,0,0,0,7,5,1,2,1,16
25,KM,0,0,0,0,0,0,0,0,0,0,0,0
26,KN,0,0,0,0,0,0,0,0,0,0,0,0
27,KR,0,0,0,0,1,0,0,0,0,0,0,1
28,KW,0,0,0,0,0,0,0,0,0,0,0,0
29,KZ,0,0,0,0,0,0,0,0,0,0,0,0
30,LA,0,0,0,0,0,0,0,0,1,0,2,3
31,LB,0,0,0,0,0,0,0,0,0,0,0,0
32,LC,0,0,0,0,0,0,0,0,0,0,0,0
33,LI,0,0,0,0,0,0,0,0,0,0,0,0
34,LK,0,0,0,0,0,1,0,1,1,1,3,7
35,LR,0,0,0,0,0,0,0,0,0,0,0,0
36,LS,0,0,0,0,0,0,0,0,0,0,0,0
37,LT,0,0,0,0,0,0,0,0,0,0,0,0
38,LU,0,0,0,0,0,0,0,0,0,0,0,0
39,LV,0,0,0,0,0,0,1,0,0,0,1,2
40,LY,0,0,0,0,0,0,0,0,0,0,0,0
41,MA,0,0,0,0,0,0,0,0,0,0,0,0
42,MC,0,0,0,0,0,0,0,0,0,0,0,0
43,MD,0,0,0,0,0,0,0,0,0,0,0,0
44,ME,0,0,0,0,0,0,0,0,0,0,0,0
45,MG,0,0,0,0,0,0,0,0,0,0,0,0
46,MK,0,0,0,0,0,0,0,0,0,0,0,0

In [88]:
ivory_by_country4=pd.read_clipboard()

In [89]:
ivory_by_country4

,Country,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,Total
0,ML,0,0,0,0,0,0,1,0,0,0,0,1
1,MM,0,0,0,3,2,1,1,3,5,2,1,18
2,MN,0,0,0,0,0,0,0,0,0,0,0,0
3,MO,0,0,0,1,0,1,2,1,0,0,0,5
4,MR,0,0,0,0,0,0,0,0,0,0,0,0
5,MT,0,0,0,0,1,0,1,0,0,0,0,2
6,MU,0,0,0,0,0,0,0,0,0,0,0,0
7,MV,0,0,0,0,0,0,0,0,0,0,0,0
8,MW,0,0,0,1,8,4,9,6,4,40,35,107
9,MX,0,0,0,0,0,1,0,0,0,0,0,1
10,MY,0,0,0,0,4,3,4,3,7,11,5,37
11,MZ,0,20,0,0,2,2,10,2,7,4,12,59
12,NaN,11,14,24,14,25,22,32,19,19,67,51,298
13,NE,0,0,0,0,0,0,0,0,0,0,0,0
14,NG,0,0,0,4,7,2,6,12,8,8,5,52
15,NI,0,0,0,0,0,0,0,0,0,0,0,0
16,NL,29,16,16,5,11,7,8,22,17,24,13,168
17,NO,1,0,0,0,0,1,0,0,0,0,0,2
18,NP,0,0,0,0,0,1,2,1,1,0,1,6
19,NZ,5,2,1,0,7,7,3,9,6,7,7,54
20,OM,0,0,0,0,0,0,0,0,0,0,0,0
21,PA,0,0,0,0,0,0,0,0,0,1,0,1
22,PE,0,0,0,0,0,0,0,0,0,0,0,0
23,PG,0,0,0,0,0,0,0,0,0,0,0,0
24,PH,0,0,2,0,0,0,0,0,0,0,0,2
25,PK,0,0,0,0,0,0,0,0,0,0,0,0
26,PL,0,2,1,0,0,0,0,0,0,0,0,3
27,PT,50,23,0,5,2,1,6,4,8,1,1,101
28,PW,0,0,0,0,0,0,0,0,0,0,0,0
29,PY,0,0,0,0,0,0,0,0,0,0,0,0
30,QA,1,1,0,0,0,0,0,1,1,0,2,6
31,RO,1,0,0,0,0,1,0,2,1,0,0,5
32,RS,0,0,0,0,0,0,0,0,0,0,0,0
33,RU,0,0,0,0,0,0,0,0,0,0,0,0
34,RW,0,0,0,0,0,0,0,1,0,0,0,1
35,SA,0,0,0,0,0,0,0,1,0,0,0,1
36,SB,0,0,0,0,0,0,0,0,0,0,0,0
37,SC,0,0,0,0,0,0,0,0,0,0,0,0
38,SD,3,41,57,56,88,49,46,4,0,0,0,344
39,SE,1,2,0,0,0,0,0,1,0,2,0,6
40,SG,0,0,0,0,0,0,1,3,3,0,1,8
41,SI,0,1,0,0,0,0,0,0,0,0,0,1
42,SK,0,0,0,0,0,0,0,0,0,0,0,0
43,SL,0,0,0,0,0,0,0,0,0,0,0,0
44,SM,0,0,0,0,0,0,0,0,0,0,0,0
45,SN,0,0,0,0,0,0,0,1,0,3,2,6
46,SO,0,0,0,0,0,0,0,0,0,0,0,0

In [90]:
ivory_by_country5=pd.read_clipboard()

In [91]:
ivory_by_country5

,Country,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,Total
0,SR,0,0,0,0,0,0,0,0,0,0,0,0
1,SS,0,0,0,0,0,0,1,0,0,2,0,3
2,ST,0,0,0,0,0,0,0,0,0,0,0,0
3,SV,0,0,0,0,0,0,0,0,0,0,0,0
4,SY,0,0,0,0,0,0,0,0,0,0,0,0
5,SZ,0,0,0,0,0,0,0,0,0,0,0,0
6,TD,1,0,0,0,2,0,0,0,2,1,0,6
7,TG,0,0,0,0,1,1,4,4,2,3,2,17
8,TH,0,1,2,6,3,7,4,12,18,5,10,68
9,TJ,0,0,0,0,0,0,0,0,0,0,0,0
10,TN,0,0,0,0,0,0,0,0,0,0,1,1
11,TO,0,0,0,0,0,0,0,0,0,0,0,0
12,TR,0,0,0,0,0,1,0,0,0,1,0,2
13,TT,0,0,0,0,0,0,0,0,0,0,0,0
14,TW,2,2,2,0,2,2,0,0,3,2,2,17
15,TZ,30,11,27,17,31,91,125,54,54,45,38,523
16,UA,0,0,0,0,0,0,0,0,0,0,0,0
17,UG,5,5,1,0,11,15,21,23,12,22,72,187
18,US,97,72,113,136,196,185,151,157,185,139,100,"1,531"
19,UY,0,0,0,0,0,0,0,0,0,0,0,0
20,UZ,0,0,0,0,0,0,0,0,0,0,0,0
21,VC,0,0,0,0,0,0,0,0,0,0,0,0
22,VE,0,0,0,0,0,0,0,0,0,0,0,0
23,VN,1,0,6,11,10,5,6,10,12,22,13,96
24,VU,0,0,0,0,0,0,0,0,0,0,0,0
25,WS,0,0,0,0,0,0,0,0,0,0,0,0
26,YE,0,0,0,0,0,0,0,0,0,0,0,0
27,ZA,5,9,24,10,25,27,16,10,25,44,15,210
28,ZM,16,16,11,21,27,23,26,20,57,47,33,297
29,ZW,2,14,29,27,18,23,18,17,29,33,31,241
30,Total,590,533,"1,355","1,346","1,895","1,378","1,634","1,352","1,455","1,241","1,008","13,787"

In [94]:
ivory_by_country=pd.concat([ivory_by_country1,ivory_by_country2,ivory_by_country3,ivory_by_country4,ivory_by_country5],axis=0,sort=False)

In [95]:
ivory_by_country

,Country,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,Total
0,AE,9,4,3,1,8,9,7,3,2,9,10,65
1,AF,0,0,0,0,0,0,0,0,0,0,0,0
2,AG,0,0,0,0,0,0,0,0,0,0,0,0
3,AL,0,0,0,0,0,0,0,0,0,0,0,0
4,AM,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,YE,0,0,0,0,0,0,0,0,0,0,0,0
27,ZA,5,9,24,10,25,27,16,10,25,44,15,210
28,ZM,16,16,11,21,27,23,26,20,57,47,33,297
29,ZW,2,14,29,27,18,23,18,17,29,33,31,241
30,Total,590,533,"1,355","1,346","1,895","1,378","1,634","1,352","1,455","1,241","1,008","13,787"

In [96]:
ivory_by_country["Country"].unique()

array(['AE', 'AF', 'AG', 'AL', 'AM', 'AO', 'AR', 'AT', 'AU', 'AZ', 'BA',
       'BB', 'BD', 'BE', 'BF', 'BG', 'BH', 'BI', 'BJ', 'BN', 'BO', 'BR',
       'BS', 'BT', 'BW', 'BY', 'BZ', 'CA', 'CD', 'CF', 'CG', 'CH', 'CI',
       'CL', 'CM', 'CN', 'CO', 'CR', 'CU', 'CV', 'CY', 'CZ', 'DE', 'DJ',
       'DK', 'DM', 'DO', 'DZ', 'EC', 'EE', 'EG', 'ER', 'ES', 'ET', 'FI',
       'FJ', 'FR', 'GA', 'GB', 'GD', 'GE', 'GH', 'GM', 'GN', 'GQ', 'GR',
       'GT', 'GW', 'GY', 'HK', 'HN', 'HR', 'HU', 'ID', 'IE', 'IL', 'IN',
       'IQ', 'IR', 'IS', 'IT', 'JM', 'JO', 'JP', 'KE', 'KG', 'KH', 'KM',
       'KN', 'KR', 'KW', 'KZ', 'LA', 'LB', 'LC', 'LI', 'LK', 'LR', 'LS',
       'LT', 'LU', 'LV', 'LY', 'MA', 'MC', 'MD', 'ME', 'MG', 'MK', 'ML',
       'MM', 'MN', 'MO', 'MR', 'MT', 'MU', 'MV', 'MW', 'MX', 'MY', 'MZ',
       nan, 'NE', 'NG', 'NI', 'NL', 'NO', 'NP', 'NZ', 'OM', 'PA', 'PE',
       'PG', 'PH', 'PK', 'PL', 'PT', 'PW', 'PY', 'QA', 'RO', 'RS', 'RU',
       'RW', 'SA', 'SB', 'SC', 'SD', 'SE', 'SG', 'SI', 'SK', 'SL', 'SM',
       'SN', 'SO', 'SR', 'SS', 'ST', 'SV', 'SY', 'SZ', 'TD', 'TG', 'TH',
       'TJ', 'TN', 'TO', 'TR', 'TT', 'TW', 'TZ', 'UA', 'UG', 'US', 'UY',
       'UZ', 'VC', 'VE', 'VN', 'VU', 'WS', 'YE', 'ZA', 'ZM', 'ZW',
       'Total'], dtype=object)

In [97]:
ivory_by_country.to_csv("datos/ivory_by_country.csv")

In [98]:
ivory_by_country.isnull().sum()

Country    1
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
Total      0
dtype: int64