In [2]:
import pandas as pd

In [51]:
total_ivory_weight=pd.read_clipboard()

In [52]:
total_ivory_weight=total_ivory_weight.T

In [53]:
total_ivory_weight

               0       1
Seizures  Number  Weight
2008         534   6,858
2009       1,355  34,298
2010       1,346  26,511
2011       1,898  51,633
2012       1,378  41,689
2013       1,636  67,339
2014       1,352  40,816
2015       1,456  44,052
2016       1,248  38,848
2017       1,229  38,834
2018       1,007  29,649
2019         896  42,479

In [54]:
total_ivory_weight=total_ivory_weight.reset_index()
total_ivory_weight

       index       0       1
0   Seizures  Number  Weight
1       2008     534   6,858
2       2009   1,355  34,298
3       2010   1,346  26,511
4       2011   1,898  51,633
5       2012   1,378  41,689
6       2013   1,636  67,339
7       2014   1,352  40,816
8       2015   1,456  44,052
9       2016   1,248  38,848
10      2017   1,229  38,834
11      2018   1,007  29,649
12      2019     896  42,479

In [55]:
total_ivory_weight.rename( columns = { "index": "Years",  0: "Number", 1: "Weight"}, inplace=True)

In [58]:
total_ivory_weight.dtypes

Years     object
Number    object
Weight    object
dtype: object

In [8]:
total_ivory_weight

       Years  Number  Weight
0   Seizures  Number  Weight
1       2008     534   6,858
2       2009   1,355  34,298
3       2010   1,346  26,511
4       2011   1,898  51,633
5       2012   1,378  41,689
6       2013   1,636  67,339
7       2014   1,352  40,816
8       2015   1,456  44,052
9       2016   1,248  38,848
10      2017   1,229  38,834
11      2018   1,007  29,649
12      2019     896  42,479

In [9]:
total_ivory_weight = total_ivory_weight.drop(labels=0, axis=0)

In [10]:
total_ivory_weight.to_csv("datos/total_ivory_weight.csv")

In [60]:
ivory_by_country1=pd.read_clipboard()

In [61]:
ivory_by_country1

,Country,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,AE,4,3,1,8,9,8,3,2,9,10,1,3,61
1,AO,0,0,0,2,13,29,5,1,11,2,2,0,65
2,AT,0,1,1,0,0,1,6,3,1,1,0,0,14
3,AU,81,60,32,45,29,28,23,4,14,10,11,5,342
4,BD,0,0,0,0,0,1,0,0,0,0,0,0,1
5,BE,7,5,29,51,61,27,4,1,2,16,34,38,275
6,BF,0,0,1,0,0,0,0,0,1,0,0,1,3
7,BI,1,0,0,0,0,1,0,0,0,1,0,2,5
8,BJ,0,0,0,0,0,0,2,1,7,6,5,3,24
9,BW,14,18,13,15,2,25,12,16,10,19,7,2,153
10,CA,6,0,0,1,5,4,3,0,5,3,0,6,33
11,CD,0,0,2,0,1,0,1,11,6,2,6,0,29
12,CF,0,2,2,0,0,0,0,0,1,0,0,0,5
13,CG,3,0,0,8,0,3,2,3,5,12,10,7,53
14,CH,6,2,10,6,4,11,3,16,15,4,6,1,84
15,CI,0,0,0,0,0,4,10,4,2,8,1,14,43
16,CM,6,11,6,13,13,33,22,27,11,9,6,7,164
17,CN,52,733,707,834,388,433,272,233,142,101,118,207,4220
18,CY,0,0,0,0,0,0,1,0,0,0,0,0,1
19,CZ,1,4,0,0,0,0,3,0,6,4,0,0,18
20,DE,26,60,35,31,60,71,41,37,26,17,13,6,423
21,DK,1,0,3,2,1,1,0,3,1,1,0,0,13
22,EE,0,0,0,0,0,0,0,1,0,0,0,0,1
23,EG,0,0,0,1,3,8,12,3,5,4,0,0,36
24,ES,0,1,24,0,0,3,1,0,3,0,1,0,33
25,ET,4,5,1,163,111,154,103,100,42,43,11,6,743
26,FR,10,7,25,81,23,46,94,89,62,48,1,0,486
27,GA,1,1,16,3,3,10,12,15,13,29,30,16,149
28,GB,8,16,8,31,45,42,31,152,131,177,121,53,815
29,GN,0,0,0,0,3,3,0,0,1,0,1,0,8
30,GR,1,0,0,0,0,0,0,0,0,0,0,0,1
31,HK,4,6,40,40,56,114,117,130,41,66,50,23,687
32,HR,0,0,0,0,0,0,0,1,0,0,0,0,1
33,HU,0,1,0,0,0,1,3,1,1,5,0,0,12
34,ID,2,1,0,0,0,0,3,2,4,3,1,2,18

In [62]:
ivory_by_country2=pd.read_clipboard()

In [63]:
ivory_by_country2

,Country,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,IE,0,0,0,2,0,0,0,0,0,0,0,0,2
1,IL,0,0,0,0,0,0,0,0,0,0,1,0,1
2,IN,5,12,9,6,2,3,13,11,12,29,24,33,159
3,IT,3,0,0,0,1,3,1,18,0,4,7,0,37
4,JO,0,0,0,0,0,0,0,0,0,0,2,0,2
5,JP,6,3,5,2,0,0,7,10,4,3,4,1,45
6,KE,30,87,59,67,61,56,133,71,111,95,92,78,940
7,KH,0,0,0,0,0,7,5,1,2,1,1,2,19
8,KR,0,0,0,1,0,0,0,0,0,0,0,0,1
9,LA,0,0,0,0,0,0,0,1,0,2,3,1,7
10,LK,0,0,0,0,1,0,1,1,1,3,2,1,10
11,LV,0,0,0,0,0,1,0,0,0,1,0,0,2
12,ML,0,0,0,0,0,1,0,0,0,0,0,0,1
13,MM,0,0,3,2,1,1,3,5,2,1,0,0,18
14,MO,0,0,1,0,1,2,1,0,0,0,0,0,5
15,MT,0,0,0,1,0,1,0,0,0,0,0,0,2
16,MW,0,0,1,8,4,9,6,4,40,35,27,16,150
17,MX,0,0,0,0,1,0,0,0,0,0,0,0,1
18,MY,0,0,0,4,3,4,3,7,11,5,0,0,37
19,MZ,20,0,0,2,2,10,2,7,4,12,5,0,64
20,NaN,14,24,14,25,22,32,19,19,67,51,43,59,389
21,NG,0,0,4,8,2,6,12,8,8,7,4,1,60
22,NL,16,16,5,11,7,8,22,17,27,15,11,5,160
23,NO,0,0,0,0,1,0,0,0,0,0,0,0,1
24,NP,0,0,0,0,1,2,1,1,0,1,1,0,7
25,NZ,2,1,0,7,7,3,9,6,7,7,5,8,62
26,PA,0,0,0,0,0,0,0,0,1,0,0,0,1
27,PH,0,2,0,0,0,0,0,0,0,0,0,0,2
28,PL,2,1,0,0,0,0,0,0,0,0,0,0,3
29,PT,23,0,5,2,1,6,4,8,1,1,0,0,51
30,QA,1,0,0,0,0,0,1,1,0,2,0,0,5
31,RO,0,0,0,0,1,0,2,1,0,0,0,0,4
32,RW,0,0,0,0,0,0,1,0,0,0,0,0,1
33,SA,0,0,0,0,0,0,1,0,0,0,0,0,1
34,SD,41,57,56,88,49,46,4,0,0,0,0,0,341
35,SE,2,0,0,0,0,0,1,0,2,0,0,0,5
36,SG,0,0,0,0,0,1,3,3,0,1,1,2,11
37,SI,1,0,0,0,0,0,0,0,0,0,0,0,1
38,SN,0,0,0,0,0,0,1,1,3,2,0,4,11
39,SS,0,0,0,0,0,1,0,0,2,0,1,0,4
40,TD,0,0,0,2,0,0,0,2,1,0,0,0,5

In [64]:
ivory_by_country3=pd.read_clipboard()

In [65]:
ivory_by_country3

,Country,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,TG,0,0,0,1,1,4,4,2,3,2,0,1,18
1,TH,1,2,6,3,7,4,12,18,5,10,6,1,75
2,TN,0,0,0,0,0,0,0,0,0,1,0,0,1
3,TR,0,0,0,0,1,0,0,0,1,0,0,1,3
4,TW,2,2,0,2,2,0,0,3,2,2,1,0,16
5,TZ,11,27,17,32,91,126,54,54,46,39,19,35,551
6,UG,5,1,0,11,15,21,23,12,22,72,36,76,294
7,US,72,113,136,196,185,151,157,185,139,100,131,114,1679
8,VN,0,6,11,10,5,6,10,12,22,13,5,7,107
9,ZA,9,24,10,25,27,16,10,25,44,16,8,15,229
10,ZM,16,11,21,27,23,26,20,57,47,64,111,1,424
11,ZW,14,29,27,18,23,18,17,29,33,31,20,32,291

In [66]:
ivory_by_country=pd.concat([ivory_by_country1,ivory_by_country2,ivory_by_country3],axis=0,sort=False)

In [67]:
ivory_by_country

,Country,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,AE,4,3,1,8,9,8,3,2,9,10,1,3,61
1,AO,0,0,0,2,13,29,5,1,11,2,2,0,65
2,AT,0,1,1,0,0,1,6,3,1,1,0,0,14
3,AU,81,60,32,45,29,28,23,4,14,10,11,5,342
4,BD,0,0,0,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,US,72,113,136,196,185,151,157,185,139,100,131,114,1679
8,VN,0,6,11,10,5,6,10,12,22,13,5,7,107
9,ZA,9,24,10,25,27,16,10,25,44,16,8,15,229
10,ZM,16,11,21,27,23,26,20,57,47,64,111,1,424
11,ZW,14,29,27,18,23,18,17,29,33,31,20,32,291

In [68]:
ivory_by_country["Country"].unique()

array(['AE', 'AO', 'AT', 'AU', 'BD', 'BE', 'BF', 'BI', 'BJ', 'BW', 'CA',
       'CD', 'CF', 'CG', 'CH', 'CI', 'CM', 'CN', 'CY', 'CZ', 'DE', 'DK',
       'EE', 'EG', 'ES', 'ET', 'FR', 'GA', 'GB', 'GN', 'GR', 'HK', 'HR',
       'HU', 'ID', 'IE', 'IL', 'IN', 'IT', 'JO', 'JP', 'KE', 'KH', 'KR',
       'LA', 'LK', 'LV', 'ML', 'MM', 'MO', 'MT', 'MW', 'MX', 'MY', 'MZ',
       nan, 'NG', 'NL', 'NO', 'NP', 'NZ', 'PA', 'PH', 'PL', 'PT', 'QA',
       'RO', 'RW', 'SA', 'SD', 'SE', 'SG', 'SI', 'SN', 'SS', 'TD', 'TG',
       'TH', 'TN', 'TR', 'TW', 'TZ', 'UG', 'US', 'VN', 'ZA', 'ZM', 'ZW'],
      dtype=object)

In [69]:
ivory_by_country.to_csv("datos/ivory_by_country.csv")

In [70]:
ivory_by_country.isnull().sum()

Country    1
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
2018       0
2019       0
Total      0
dtype: int64